services:
  # --- API NestJS ---
  app:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: ngplusbackendtest_app
    restart: on-failure
    env_file:
      - .env
    environment:
      DOCKER: 'true'
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - postgres_db
      - minio

  # --- Postgres Database ---
  postgres_db:
    image: postgres:16
    container_name: ngplusbackendtest_postgres
    restart: on-failure
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DB}
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # --- MinIO (S3) ---
  minio:
    image: minio/minio:latest
    container_name: ngplusbackendtest_minio
    restart: on-failure
    env_file:
      - .env
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    command: server /data --console-address ":9001"

volumes:
  postgres_data:
  minio_data:
