<h1>Hello {{username}},</h1>
<p>We received a request to reset your password.</p>
<p>
  To set a new password, use the following token in the
  <strong>Authorization Header</strong> (as 'Bearer token') when making a
  <strong>POST /auth/reset-password</strong> request:
</p>
<br />
<pre><code>{{token}}</code></pre>
<br />
<p>This token is valid for 15 minutes.</p>
